body {
  font-family: 'Open Sans';
  font-weight: 300;
}

header {
  background-color: #2F2235;
  display: flex;
  justify-content: space-between;
  height: 50px;
  color: #fff;
  padding: none;
}

.title {
  color: #34D1D1;
  font-size: 22px;
  font-weight: 300;
  padding: 12px 0 0 70px;
}

.pattrn {
  color: #fff;
}

.name {
  font-weight: 600;
  padding: 15px 70px 0 0;
}

section {
  padding: 0 70px;
  margin-top: 60px;
}

.separator {
  display: flex;
}

.section-title {
  width: 30%;
  font-weight: 300;
}

hr {
  justify-content: space-between;
  border: 0;
  height: 1px;
  background-color: #D1D2D3;
}

.divider {
  width: 85%;
}

/*accordion tabs*/
.accordion-container {
  margin: 50px 40px;
  min-height: 400px;
  width: 94%;
  border-left: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  border-bottom: 1px solid #D1D2D3;
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: none;
}

button {
  background-color: #F2F2F2;
  border: 1px solid #fff;
  width: 25%;
  outline: none;
  height: 50px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
}

button:hover {
  background-color: #D1D2D3
}

button:focus {
  background-color: #fff;
}

.tab1:focus {
  border-top: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
}

.tab2:focus, .tab3:focus {
  border-top: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  border-left: 1px solid #D1D2D3;
}

.tab4:focus {
  border-top: 1px solid #D1D2D3;
  border-left: 1px solid #D1D2D3;
}

.hidden {
  display: none
}

.content-area {
  width: 100%
}

.tab-heading {
  display:none;
}

.art-container {
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding-bottom: 20px;

}

.image {
  width: 300px;
  height: 350px;
  margin: 20px 20px 0 0 ;
}


.paragraphs {
  margin: auto;
  padding: 20px;
}

h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

.paragraphs p {
  font-size: 16px;
  line-height: 140%;;
}

.view-code {
  background-color: #3F3244;
  color: #fff;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {

	.tabs {
		display: none;
	}

	.cell-tab {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

  .art-container {
    flex-direction: column;
  }

}


//
