body {
  font-family: 'Open Sans';
  font-weight: 300;
}

header {
  background-color: #2F2235;
  display: flex;
  justify-content: space-between;
  height: 50px;
  color: #fff;
  padding: none;
}

.title {
  color: #34D1D1;
  font-size: 22px;
  font-weight: 300;
  padding: 12px 0 0 70px;
}

.pattrn {
  color: #fff;
}

.name {
  font-weight: 600;
  padding: 15px 70px 0 0;
}

section {
  padding: 0 70px;
  margin-top: 60px;
}

.separator {
  display: flex;
}

.section-title {
  width: 30%;
  font-weight: 300;
}

hr {
  justify-content: space-between;
  border: 0;
  height: 1px;
  background-color: #D1D2D3;
}

.divider {
  width: 85%;
}

/*accordion tabs*/
.accordion-container {
  margin: 50px 40px;
  min-height: 400px;
  width: 94%;
  border-left: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  border-bottom: 1px solid #D1D2D3;
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: none;
}

button {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  outline: none;
}

.accordion-tab {
  background-color: #F2F2F2;
  border: 1px solid #fff;
  width: 25%;
  height: 50px;
  margin-top: 4px;
}

.accordion-tab:hover {
  background-color: #D1D2D3
}

.accordion-tab:focus {
  background-color: #fff;
  font-size: 600;
}

.tab1:focus {
  border-top: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
}

.tab2:focus, .tab3:focus {
  border-top: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  border-left: 1px solid #D1D2D3;
}

.tab4:focus {
  border-top: 1px solid #D1D2D3;
  border-left: 1px solid #D1D2D3;
}

.hidden {
  display: none
}

.content-area {
  width: 100%;
}

.tab-heading {
  display:none;
}

.art-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.art-divider {
  padding-right: 40px;
}

.image {
  width: 300px;
  height: 350px;
  margin: 20px 20px 0 0 ;
}

.paragraphs {
  margin: auto;
  padding: 20px;
}

h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

.paragraphs p {
  font-size: 16px;
  line-height: 140%;;
}

/*view code button*/
.view-code {
  background-color: #3F3244;

  display: block;
  width: 25%;
  height: 40px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  border: none;
  font-size: 16px;
}

.link {
  color: #fff;
  text-decoration: none;
}

/*CARDS*/
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 0 25px;

}

.card {
  border: 1px solid #D1D2D3;
  height: 300px;
  margin: 10px;
  flex: 10 5 300px;
}

.card-title{
  height: 34px;
  font-size: 18px;
  margin: 0;
  padding: 16px 0 0 16px;
}

.card-image {
  width: 100%;
  height: 250px;
}

.card1, .card7 {
  flex: 10 5 630px;
}

@media screen and (max-width: 800px) {

  .art-container {
    flex-direction: column;
  }

  .image {
    margin: auto;
  }

  h4 {
    text-align: center;
  }

  .art-divider {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {

  .view-code {
    width: 35%;
  }
}

@media screen and (max-width: 645px) {

  .divider {
    width: 60%;
  }

@media screen and (max-width: 500px) {

  header {
    height: 60px;
    flex-flow: column;
    align-items: center;
    padding: 12px 0
  }

  .title, .name {
    padding: 0;
    justify-content: space-between;
  }

  .title {
    font-size: 24px;
  }

  .name {
    font-size: 14px;
  }

  section {
    padding: 0 0 0 20px;
    margin-top: 40px;
  }

  .separator {
    flex-direction: column;
    margin-right: 20px;
  }

  .section-title {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .divider {
    width: 25%;
  }

  .accordion-container {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 30px;
    border: none;
  }

  .content-area {
    border-left: 1px solid #D1D2D3;
    border-right: 1px solid #D1D2D3;
    border-bottom: 1px solid #D1D2D3;
  }

	.tabs {
		display: none;
	}

	.cell-tab {
    background-color: #F2F2F2;
    outline: none;
    height: 35px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
    font-weight: bold;
		border-bottom: 1px solid #fff;
		display: block;
    padding: 20px 0 0 20px;
		cursor: pointer;
	}

	.cell-tab:hover {
    background-color: #D1D2D3;
    font-weight: 600;
  }

  .cell-tab:focus {
    background-color: #fff;
    font-weight: 600;
  }

  .art-container {
    flex-direction: column;
  }

  .art-container {
    padding: 0;
  }

  .image {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  h4 {
    text-align: left;
  }

  .art-divider {
    width: 90%;;
  }

  .view-code{
    width: 100%;
    height: 50px;
    margin: auto;
    margin-top: 30px;
  }

  .cards {
    padding: 0;
    margin: 10px;
  }

  .cards-view {
   width: 92%
  }
}
